@use '../mixins' as *;


.root-crew{
  @include media-mobile{
    @include flex(column, flex-start, center);    
  }
}

.root-crew .root-page-header{
  @include media-mobile{
    order: 1;
    h1{
      margin-bottom: 0px;
    } 
  }  
}

.root-crew .content{   
  
  @include media-mobile{
    order: 3;
  }

  .content-one {
    margin-left: 112px; 
    @include media-tablet{
      margin-left: 0px;
      @include flex(column, flex-start, center);
      text-align: center;
    }
  }

  .content-one .role{
    margin-top: 96px;
    opacity: 50%;
    color: $white;
    font: 32px $belefair;

    @include media-tablet{
      margin-top: 5px;
      font-size: 24px;
    }

    @include media-mobile{
      
    }
  }

  .content-one .name{
    margin-top: 19px;
    color: $white;
    font: 56px $belefair;
    @include media-tablet{
      font-size: 40px;
      margin-top: 0px;
    }
  }

  .content-one .bio{
    @include typo-paragraph-1;
    @include size(450px, 160px);
    
    margin-top: 15px;
    p{
      margin: 0px;
    }
    @include media-tablet{
      @include size(600px, auto);
    }
  }

  .content-one .navegation {
    @include flex(row, flex-start, center);
    @include flex-gap(24px, unset);
    margin-top: 90px;
    
    @include media-tablet{
      margin-top: 49px;
      @include flex-gap(16px, unset);
    }
  }

  .content-one .navegation a{
    display: inline-block;
    @include size(15px, 15px);
    background-color: white;
    opacity: 0.17;
    border-radius: 999px;
    &.active{
      opacity: 1;
    }    

    @include media-tablet{
      @include size(10px, 10px);
    }
  }

}

.root-crew .img-container{  
    position: absolute;
    @include container(false, true);
    z-index: 9;
    bottom: 0px;
    right: 0px; 
    @include media-tablet{
      position: relative;
      @include flex-center;
      margin-top: 40px;
      padding: 0px;
      margin-bottom: -58px;
    }

    @include media-mobile{
      order: 2;
      margin-top: 30px;
      margin-bottom: 0px;
      img{
        height: 223px;
        width: auto;
      }
    }
    
}