@use '../mixins' as *;


.root-homepage {
  @include size(100%, 100vh);
  @include container;
  @include content-min-height;
  position: relative;
  padding-top: calc(40px + #{$navbar-desktop-height});
  display: grid;
  grid-template-columns: 54.5% 45.5%;

  @include media-tablet{
    grid-template-columns: 1fr;
    gap: 165px;
    align-content: center;
    padding-top: $navbar-desktop-height;
  }

  @include media-mobile{
    gap: 88px;
  }

  > * {
    z-index: 1;
    position: relative;
  }

  

  .text-container{
    &::after, &::before {
      content: '';
    }
    display: grid;
    grid-template-rows: 64fr 370px 36fr;
    justify-content: center;

    @include media-tablet{
      &::after, &::before {
        content: none;
      }
      grid-template-rows: 323px;
    }

    @include media-mobile{
      grid-template-rows: auto;
    }
  }

  .text-container .text {
    @include size(445px, 370px);

    @include media-tablet{
      @include size(447px, 323px);
    }

    @include media-mobile{
      width: 100%;
      height: auto;
    }
    .subtitle{
      @include typo-sub-heading-1;
      margin: 0px      
    }

    .title{
      @include typo-heading-1;
      margin: 54px 0px 0px 0px;

      .title{
        margin-bottom: -30px;
      }

      @include media-mobile{
        margin-top: 15px;
        margin-bottom: 24px
      }
    }

    .paragraph{
      @include typo-paragraph-1;
      margin: 0px;
    }    

    @include media-tablet{
      .subtitle,
      .title,
      .paragraph {
        width: 100%;
        text-align: center;
      }

      
    }
  }

  .decoration{
    &::after, &::before{
      content: '';
    }
    display: grid;
    grid-template-rows: 73fr 274px 27fr;
    justify-content: end;

    @include media-tablet{
      &::after, &::before{
        content: none;
      }
      grid-template-rows: 242px;
      justify-content: center;
    }

    @include media-mobile{      
      grid-template-rows: 150px;
    }
  }

  .decoration .explore{
    @include size(274px, 274px);
    @include flex-center;
    border-radius: 999px;
    background-color: white;
    font-family: $belefair;
    font-weight: 400;
    font-size: 32px;

    @include media-tablet{
      @include size(242px, 242px);
    }
   
    @include media-mobile{
      @include size(150px, 150px)
    }
   
    color: $dark-blue;
  }




}