@use '../mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');


* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: $dark-blue;
}


a {
  color: inherit;
  text-decoration: none;
}

main{
  @include content-min-height;
}