@use '../mixins' as *;


.root-page-header {

  position: relative;
  z-index: 1;
  
  h1{
    @include typo-heading-2;
    margin: 0px 0px 63px 112px;    
    span{
      margin-right: 25px;      
    }
    @include media-tablet{
      margin: 0px 0px 58px 0px;  
    }

    @include media-mobile{
      font-size: 16px;
      text-align: center;
      margin-bottom: 31px;
      span{
        margin-right: 19px;
      }
    }
  }  
}